<!DOCTYPE html>
 <html> 
    <head>
        <meta charset="utf-8">
      
        <title>Read</title>
        
    </head>
    <body>
        <a href="{{ url_for('create') }}">Create new users</a>

        {% for message in get_flashed_messages() %}
            {% if message %}
                <p style="color:red">{{ message }}</p>
            {% endif %}
        {% endfor%}

        <ul>                       
            {% if users %}

                {% for user in users %}

                    <li> id: {{ user.id }} </li>
                        <li> Name: {{ user.name }} </li>
                        <li> Age: {{ user.age }} </li>
                        <a href ="{{ url_for('update',id=user.id) }}">update</a>
                        <a href ="{{ url_for('delete',id=user.id) }}">delete</a>
                        <br>
                        <br>

                {% endfor %}

            {% else %}
                <p><strong>No users found</strong></p>
            {% endif %} 
        </ul>
        
    </body>
</html>